In [31]:

import pandas as pd

df = pd.read_csv('LWE_Thickness_Monthly_2003_2023.csv')

df

,system:index,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,lwe_thickness_mean,month,year,.geo
0,0_00000000000000000000_0,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
1,0_00000000000000000000_1,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
2,0_00000000000000000000_2,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
3,0_00000000000000000000_3,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
4,0_00000000000000000000_4,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96008,251_00000000000000000000_377,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96009,251_00000000000000000000_378,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96010,251_00000000000000000000_379,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96011,251_00000000000000000000_380,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."

In [32]:
# Retaining original index
df['original_index'] = df.index

df

,system:index,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,lwe_thickness_mean,month,year,.geo,original_index
0,0_00000000000000000000_0,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0
1,0_00000000000000000000_1,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",1
2,0_00000000000000000000_2,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",2
3,0_00000000000000000000_3,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",3
4,0_00000000000000000000_4,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96007
96008,251_00000000000000000000_377,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96008
96009,251_00000000000000000000_378,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96009
96010,251_00000000000000000000_379,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96010
96011,251_00000000000000000000_380,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96011

In [33]:
df = df.drop(columns=[	'OBJECTID',	'OBJECTID_1',	'SHAPE_Leng',	'STATE',	'Shape_Area',	'Shape_Le_1',	'State_Name'])

In [34]:
df

,system:index,lwe_thickness_mean,month,year,.geo,original_index
0,0_00000000000000000000_0,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0
1,0_00000000000000000000_1,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",1
2,0_00000000000000000000_2,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",2
3,0_00000000000000000000_3,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",3
4,0_00000000000000000000_4,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",4
...,...,...,...,...,...,...
96007,251_00000000000000000000_376,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96007
96008,251_00000000000000000000_377,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96008
96009,251_00000000000000000000_378,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96009
96010,251_00000000000000000000_379,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96010
96011,251_00000000000000000000_380,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96011

In [35]:
import ast
import json
# Extract coordinates and create a new column
df['coordinates'] = df['.geo'].apply(lambda x: json.loads(x)['coordinates'])

# Split longitude and latitude into separate columns
df[['longitude', 'latitude']] = pd.DataFrame(df['coordinates'].tolist(), index=df.index)
df

,system:index,lwe_thickness_mean,month,year,.geo,original_index,coordinates,longitude,latitude
0,0_00000000000000000000_0,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,"[73.88643211883064, 21.784145639898394]",73.886432,21.784146
1,0_00000000000000000000_1,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",1,"[74.3355897608904, 21.784145639898394]",74.335590,21.784146
2,0_00000000000000000000_2,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",2,"[74.78474740295016, 21.784145639898394]",74.784747,21.784146
3,0_00000000000000000000_3,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",3,"[72.98811683471112, 22.233303281958154]",72.988117,22.233303
4,0_00000000000000000000_4,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...",4,"[73.43727447677088, 22.233303281958154]",73.437274,22.233303
...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96007,"[72.98811683471112, 31.21645612315337]",72.988117,31.216456
96008,251_00000000000000000000_377,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96008,"[73.43727447677088, 31.21645612315337]",73.437274,31.216456
96009,251_00000000000000000000_378,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96009,"[73.88643211883064, 31.21645612315337]",73.886432,31.216456
96010,251_00000000000000000000_379,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96010,"[74.3355897608904, 31.21645612315337]",74.335590,31.216456
96011,251_00000000000000000000_380,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...",96011,"[74.78474740295016, 31.21645612315337]",74.784747,31.216456

In [36]:
df = df.drop(columns=['.geo'])
df

,system:index,lwe_thickness_mean,month,year,original_index,coordinates,longitude,latitude
0,0_00000000000000000000_0,-33.773062,1,2003,0,"[73.88643211883064, 21.784145639898394]",73.886432,21.784146
1,0_00000000000000000000_1,-16.866113,1,2003,1,"[74.3355897608904, 21.784145639898394]",74.335590,21.784146
2,0_00000000000000000000_2,-16.866113,1,2003,2,"[74.78474740295016, 21.784145639898394]",74.784747,21.784146
3,0_00000000000000000000_3,-33.773062,1,2003,3,"[72.98811683471112, 22.233303281958154]",72.988117,22.233303
4,0_00000000000000000000_4,-33.773062,1,2003,4,"[73.43727447677088, 22.233303281958154]",73.437274,22.233303
...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,-16.190667,12,2023,96007,"[72.98811683471112, 31.21645612315337]",72.988117,31.216456
96008,251_00000000000000000000_377,-16.190667,12,2023,96008,"[73.43727447677088, 31.21645612315337]",73.437274,31.216456
96009,251_00000000000000000000_378,-66.004840,12,2023,96009,"[73.88643211883064, 31.21645612315337]",73.886432,31.216456
96010,251_00000000000000000000_379,-66.004840,12,2023,96010,"[74.3355897608904, 31.21645612315337]",74.335590,31.216456
96011,251_00000000000000000000_380,-66.004840,12,2023,96011,"[74.78474740295016, 31.21645612315337]",74.784747,31.216456

In [37]:
# Check for NaN values in 'lwe_thickness_mean' column
nan_count = df['lwe_thickness_mean'].isna().sum()

# Print the result
print(f"Number of NaN values in 'lwe_thickness_mean': {nan_count}")

Number of NaN values in 'lwe_thickness_mean': 16002

In [38]:
# Filter rows where 'lwe_thickness_mean' is NaN
nan_rows = df[df['lwe_thickness_mean'].isna()]

# Display the rows
print(nan_rows)

                       system:index  lwe_thickness_mean  month  year  \
1524       4_00000000000000000000_0                 NaN      5  2003
1525       4_00000000000000000000_1                 NaN      5  2003
1526       4_00000000000000000000_2                 NaN      5  2003
1527       4_00000000000000000000_3                 NaN      5  2003
1528       4_00000000000000000000_4                 NaN      5  2003
...                             ...                 ...    ...   ...
72004  188_00000000000000000000_376                 NaN      9  2018
72005  188_00000000000000000000_377                 NaN      9  2018
72006  188_00000000000000000000_378                 NaN      9  2018
72007  188_00000000000000000000_379                 NaN      9  2018
72008  188_00000000000000000000_380                 NaN      9  2018

       original_index                              coordinates  longitude  \
1524             1524  [73.88643211883064, 21.784145639898394]  73.886432
1525             1525   [74.3355897608904, 21.784145639898394]  74.335590
1526             1526  [74.78474740295016, 21.784145639898394]  74.784747
1527             1527  [72.98811683471112, 22.233303281958154]  72.988117
1528             1528  [73.43727447677088, 22.233303281958154]  73.437274
...               ...                                      ...        ...
72004           72004   [72.98811683471112, 31.21645612315337]  72.988117
72005           72005   [73.43727447677088, 31.21645612315337]  73.437274
72006           72006   [73.88643211883064, 31.21645612315337]  73.886432
72007           72007    [74.3355897608904, 31.21645612315337]  74.335590
72008           72008   [74.78474740295016, 31.21645612315337]  74.784747

        latitude
1524   21.784146
1525   21.784146
1526   21.784146
1527   22.233303
1528   22.233303
...          ...
72004  31.216456
72005  31.216456
72006  31.216456
72007  31.216456
72008  31.216456

[16002 rows x 8 columns]

In [39]:
# Filter rows where 'lwe_thickness_mean' is NaN
nan_rows = df[df['lwe_thickness_mean'].isna()]

# Count occurrences of (year, month) pairs
common_year_month = nan_rows.groupby(['year', 'month']).size().reset_index(name='count')

# Display the most common (year, month) pairs
print(common_year_month)

    year  month  count
0   2003      5    381
1   2004      1    381
2   2010     12    381
3   2011      1    381
4   2011      5    381
5   2011      6    381
6   2011     11    381
7   2012      4    381
8   2012      9    381
9   2012     10    381
10  2013      2    381
11  2013      3    381
12  2013      7    381
13  2013      8    381
14  2014      1    381
15  2014      6    381
16  2014     11    381
17  2014     12    381
18  2015      5    381
19  2015      9    381
20  2015     10    381
21  2015     11    381
22  2016      3    381
23  2016      4    381
24  2016      7    381
25  2016      9    381
26  2016     10    381
27  2017      2    381
28  2017      6    381
29  2017      7    381
30  2017      8    381
31  2017      9    381
32  2017     10    381
33  2017     11    381
34  2017     12    381
35  2018      1    381
36  2018      2    381
37  2018      3    381
38  2018      4    381
39  2018      7    381
40  2018      8    381
41  2018      9    381

In [40]:
df['coordinates'] = df['coordinates'].apply(tuple)  # Convert lists to tuples
df = df.sort_values(by=['coordinates', 'year', 'month']).reset_index(drop=True)

In [41]:
import pandas as pd
import numpy as np

# Convert lists to tuples for sorting
df['coordinates'] = df['coordinates'].apply(tuple)

# Sort the DataFrame by coordinates, year, and month
df = df.sort_values(by=['coordinates', 'year', 'month']).reset_index(drop=True)

# Function to fill NaN values using temporal interpolation
def fill_missing_temporally(df):
    for coord in df['coordinates'].unique():
        mask = df['coordinates'] == coord  # Select rows with the same coordinate
        df.loc[mask, 'lwe_thickness_mean'] = df.loc[mask, 'lwe_thickness_mean'].interpolate(method='linear', limit_direction='both')
    
    return df

# Apply the function
df_filled = fill_missing_temporally(df)

# Display the filled DataFrame
print(df_filled)

                       system:index  lwe_thickness_mean  month  year  \
0        0_00000000000000000000_186           -1.616644      1  2003
1        1_00000000000000000000_186           -0.892126      2  2003
2        2_00000000000000000000_186           -2.181170      3  2003
3        3_00000000000000000000_186           -0.756670      4  2003
4        4_00000000000000000000_186            0.975714      5  2003
...                             ...                 ...    ...   ...
96007  247_00000000000000000000_239           -1.008954      8  2023
96008  248_00000000000000000000_239           -4.776188      9  2023
96009  249_00000000000000000000_239          -10.928502     10  2023
96010  250_00000000000000000000_239          -18.515027     11  2023
96011  251_00000000000000000000_239          -23.875206     12  2023

       original_index                              coordinates  longitude  \
0                 186  (68.04738277205375, 26.724879702555764)  68.047383
1                 567  (68.04738277205375, 26.724879702555764)  68.047383
2                 948  (68.04738277205375, 26.724879702555764)  68.047383
3                1329  (68.04738277205375, 26.724879702555764)  68.047383
4                1710  (68.04738277205375, 26.724879702555764)  68.047383
...               ...                                      ...        ...
96007           94346  (79.72548146560753, 27.174037344615524)  79.725481
96008           94727  (79.72548146560753, 27.174037344615524)  79.725481
96009           95108  (79.72548146560753, 27.174037344615524)  79.725481
96010           95489  (79.72548146560753, 27.174037344615524)  79.725481
96011           95870  (79.72548146560753, 27.174037344615524)  79.725481

        latitude
0      26.724880
1      26.724880
2      26.724880
3      26.724880
4      26.724880
...          ...
96007  27.174037
96008  27.174037
96009  27.174037
96010  27.174037
96011  27.174037

[96012 rows x 8 columns]

In [44]:
df = df_filled.sort_values(by=['original_index']).reset_index(drop=True)

In [45]:
df

,system:index,lwe_thickness_mean,month,year,original_index,coordinates,longitude,latitude
0,0_00000000000000000000_0,-33.773062,1,2003,0,"(73.88643211883064, 21.784145639898394)",73.886432,21.784146
1,0_00000000000000000000_1,-16.866113,1,2003,1,"(74.3355897608904, 21.784145639898394)",74.335590,21.784146
2,0_00000000000000000000_2,-16.866113,1,2003,2,"(74.78474740295016, 21.784145639898394)",74.784747,21.784146
3,0_00000000000000000000_3,-33.773062,1,2003,3,"(72.98811683471112, 22.233303281958154)",72.988117,22.233303
4,0_00000000000000000000_4,-33.773062,1,2003,4,"(73.43727447677088, 22.233303281958154)",73.437274,22.233303
...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,-16.190667,12,2023,96007,"(72.98811683471112, 31.21645612315337)",72.988117,31.216456
96008,251_00000000000000000000_377,-16.190667,12,2023,96008,"(73.43727447677088, 31.21645612315337)",73.437274,31.216456
96009,251_00000000000000000000_378,-66.004840,12,2023,96009,"(73.88643211883064, 31.21645612315337)",73.886432,31.216456
96010,251_00000000000000000000_379,-66.004840,12,2023,96010,"(74.3355897608904, 31.21645612315337)",74.335590,31.216456
96011,251_00000000000000000000_380,-66.004840,12,2023,96011,"(74.78474740295016, 31.21645612315337)",74.784747,31.216456

In [46]:
df.to_csv('GRACE.csv', index=True)  # Saves with the default index